{% form_theme profilFormView 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %} MonProfil {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}
{% block myTitle %}Mon Profil{% endblock %}
{% block body %}

    <br> {{ form_start(profilFormView) }}
    <div class="container col-9 col-sm-9 col-md-9 col-lg-11 col-xl-11">

        <div class="d-flex flex-wrap">
            <span class="picture col-12 col-sm-12 col-md-12 col-lg-5 col-xl-3">
                <span class="card">
                    <h3 class="card-header">Ma photo de profil</h3>
                    <span class="card-body">
                        {{ form_label(profilFormView.picture) }}
                        {{ form_widget(profilFormView.picture) }}
                        {{ form_errors(profilFormView.picture) }}
                    </span>
                </span>
            </span>
            <span class="infos col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <span class="card">

                    <h3 class="card-header">Mes infos</h3>

                    <span class="card-body d-flex flex-wrap">

                            <div class="widget">
                                 <div>
                                     {{ form_label(profilFormView.username) }}
                                     {{ form_widget(profilFormView.username) }}
                                     {{ form_errors(profilFormView.username) }}
                                 </div>
                                 <div class="widget">
                                    {{ form_label(profilFormView.name) }}
                                     {{ form_widget(profilFormView.name) }}
                                     {{ form_errors(profilFormView.name) }}
                                 </div>
                                    <div class="widget">
                                        {{ form_label(profilFormView.firstname) }}
                                        {{ form_widget(profilFormView.firstname) }}
                                        {{ form_errors(profilFormView.firstname) }}
                                    </div>
                            </div>
                             <div class="widget">
                                 <div class="widget">
                                         {{ form_label(profilFormView.phone) }}
                                     {{ form_widget(profilFormView.phone) }}
                                     {{ form_errors(profilFormView.phone) }}
                                 </div>
                                    <div class="widget">
                                         {{ form_label(profilFormView.mail) }}
                                        {{ form_widget(profilFormView.mail) }}
                                        {{ form_errors(profilFormView.mail) }}
                                 </div>
                                    <div class="widget">
                                         {{ form_label(profilFormView.establishment) }}
                                        {{ form_widget(profilFormView.establishment) }}
                                        {{ form_errors(profilFormView.establishment) }}
                                     </div>
                             </div>

                    </span>
                </span>
            </span>

            <span class="password col-12 col-sm-12 col-md-12 col-lg-5 col-xl-3">
                <span class="card">
                    <h3 class="card-header">
                        Modifier mon mot de passe
                    </h3>
                    <div class="container">
                        <br>
                        <div class="widgetpsw">
                            {{ form_widget(profilFormView.newpassword) }}
                            {{ form_errors(profilFormView.newpassword) }}
                        </div>


                    </div>


                </span>
            </span>

        </div>
        <br>


        <div class="d-flex justify-content-center">
                  <span class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-3">
            <span class="card">
                <span class="card-header">
                    <h3>Valider mes modifications</h3>
                </span>

                <div class="container">
                    <br>
                    <label for="password">Mot de passe actuel </label>
                    <input type="password" class="form-control"
                           id="password" name="password"
                           placeholder="Votre mot de passe actuel"/><br>
                </div>

                {% for message in app.flashes('error') %}

                    <div class="alert alert-warning alert-dismissible fade show">
        {{ message }}

    </div>
                {% endfor %}
                {{ form_end(profilFormView) }}
            </span>
                  </span>
        </div>

        <br>
        <div>
            <a href="{{ path("home") }}" class="btn btn-secondary btn-lg active" role="button"
               aria-pressed="true">Retour</a>
        </div>

    </div>
{% endblock %}

{% block scriptJS %}
    <script src="{{ asset('js/myProfil.js') }}"></script>
{% endblock %}