{% form_theme profilFormView 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %} MonProfil {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}
{% block myTitle %}Mon Profil{% endblock %}
{% block body %}
    <br>
    <div class="container col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">
        <div class="d-flex flex-wrap">
            <div class="picture">
                <h2>Ma photo de profil</h2>
                <hr>
            </div>
            <div class="infos">
                <div class="card">
                    <div class="card-header">
                        Mes infos
                    </div>
                    <hr>

                    <div>
                        {{ form_start(profilFormView) }}
                        <div>
                            {{ form_label(profilFormView.username) }}
                            {{ form_widget(profilFormView.username) }}
                            {{ form_errors(profilFormView.username) }}
                        </div>
                        <div>
                            {{ form_label(profilFormView.name) }}
                            {{ form_widget(profilFormView.name) }}
                            {{ form_errors(profilFormView.name) }}
                        </div>
                        <div>
                            {{ form_label(profilFormView.firstname) }}
                            {{ form_widget(profilFormView.firstname) }}
                            {{ form_errors(profilFormView.firstname) }}
                        </div>
                        <div>
                            {{ form_label(profilFormView.phone) }}
                            {{ form_widget(profilFormView.phone) }}
                            {{ form_errors(profilFormView.phone) }}
                        </div>
                        <div>
                            {{ form_label(profilFormView.mail) }}
                            {{ form_widget(profilFormView.mail) }}
                            {{ form_errors(profilFormView.mail) }}
                        </div>
                        <div>
                            {{ form_label(profilFormView.establishment) }}
                            {{ form_widget(profilFormView.establishment) }}
                            {{ form_errors(profilFormView.establishment) }}
                        </div>


                    </div>
                    <br>
                </div>
            </div>

            <div class="password">
                <div class="card">
                    <div class="card-header">
                        Modifier mon mot de passe
                    </div>
                    <div>


                        <br>
                        <div>


                            {{ form_widget(profilFormView.newpassword) }}
                            {{ form_errors(profilFormView.newpassword) }}
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>

    <hr>
    <div class="validation">
        <div class="card">
            <div class="card-header">
                <strong>Valider mes modifications</strong>
            </div>
            <div>
                <label for="password">Mot de passe actuel </label>
                <input type="password" class="form-control"
                       id="password" name="password"
                       placeholder="Votre mot de passe actuel"/>
            </div>

        </div>
    </div>
    {{ form_end(profilFormView) }}
    <div>
        <a href="{{ path("home") }}" class="btn btn-secondary btn-lg active" role="button"
           aria-pressed="true">Retour</a>
    </div>


{% endblock %}

{% block scriptJS %}
    <script src="{{ asset('js/myProfil.js') }}"></script>
{% endblock %}