{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock %}

{% block body %}
    <h1>Mon profil</h1>
<div>
    {{ form_start(profilFormView) }}
    <div>
    {{ form_label(profilFormView.username) }}
    {{ form_widget(profilFormView.username) }}
    {{ form_errors(profilFormView.username) }}
    </div>
    <div>
    {{ form_label(profilFormView.name) }}
    {{ form_widget(profilFormView.name) }}
    {{ form_errors(profilFormView.name) }}
    </div>
    <div>
    {{ form_label(profilFormView.firstname) }}
    {{ form_widget(profilFormView.firstname) }}
    {{ form_errors(profilFormView.firstname) }}
    </div>
    <div>
    {{ form_label(profilFormView.phone) }}
    {{ form_widget(profilFormView.phone) }}
    {{ form_errors(profilFormView.phone) }}
    </div>
    <div>
    {{ form_label(profilFormView.mail) }}
    {{ form_widget(profilFormView.mail) }}
    {{ form_errors(profilFormView.mail) }}
    </div>
    <div>
    {{ form_widget(profilFormView.password) }}
    {{ form_errors(profilFormView.password) }}
    </div>
    <div>
    {{ form_label(profilFormView.establishment) }}
    {{ form_widget(profilFormView.establishment) }}
    {{ form_errors(profilFormView.establishment) }}
    </div>

    {{ form_end(profilFormView) }}

</div>





{% endblock %}