{% extends 'base.html.twig' %}

{% block title %}{{ outing.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
{% endblock %}
{% block myTitle %}Détails de la sortie{% endblock %}
{% block body %}
    <div class="d-flex flex-wrap">
        <div class="card border-primary mb-3 align-self-center col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6"
             id="outing">
            <div class="card-header text-center">
                <h2>{{ outing.name }}</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary bg-info rounded font-weight-bold">
                    Informations
                </h3>
                <p class="card-text">

                <table class="table text-center">
                    <tr>
                        <td class="table-info font-weight-bold rounded">Lieux de sortie</td>
                        <td>{{ outing.place.name }} à {{ outing.place.city.name }}</td>
                        <td class="table-info font-weight-bold rounded">Début de la sortie</td>
                        <td>{{ outing.startTime|format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                    <tr>{% set sdAndActions = outing.getStatusDisplayAndActions(app.user) %}
                        <td class="table-info font-weight-bold">Statut</td>
                        <td>{{ sdAndActions['display'] }}</td>
                        <td class="table-info font-weight-bold">Durée</td>
                        <td>{% if outing.duration < 60 %}
                                {{ outing.duration }} minutes
                            {% elseif outing.duration < 120 %}
                                {{ (outing.duration/60)|round(0, 'floor') }} heure et {{ outing.duration%60 }} minutes
                            {% else %}
                                {{ (outing.duration/60)|round(0, 'floor') }} heures et {{ outing.duration%60 }} minutes {% endif %}</td>
                    </tr>
                    <tr>
                        <td class="table-info font-weight-bold">Organisateur</td>
                        <td>
                            <a href="{{ path('profil_byid', {'id':  outing.organizer.id}) }}">{{ outing.organizer.username }}</a>
                        </td>
                        <td class="table-info font-weight-bold">Date limite d'inscription</td>
                        <td>{{ outing.limitDateTime|format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                    <tr>
                        <td class="table-info font-weight-bold">Etablissement de l'organisateur</td>
                        <td>{{ outing.establishment.name }}</td>
                        <td class="table-info font-weight-bold">Nombre max. de participant</td>
                        <td>{{ outing.registerMax }}</td>
                    </tr>


                    <tr>
                        <td class="table-info font-weight-bold rounded" colspan="1">Infos supplémentaire</td>
                        <td id="infos" colspan="3">{{ outing.infoOuting }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card border-primary col-8 col-sm-8 col-md-8 col-lg-3 col-xl-2" id="participant">
            <div class="card-header text-center">
                <h2>Participants</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center pb-2 mx-3 border-bottom border-primary bg-info rounded font-weight-bold">
                    {{ outing.participant|length }}/{{ outing.registerMax }} participants
                </h4>
                <p class="card-text">
                <table class="table text-center">
                    {% for user in outing.participant %}
                        <tr>
                            <td class="table-info font-weight-bold rounded"><a
                                        href="{{ path('profil_byid', {'id':  user.id}) }}"><img
                                            src="{{ asset('images/profil/' ~ user.picture) }}"
                                            class="imgProfil card-img-top rounded-circle"> <span
                                            style="font-size: larger">{{ user.username }}</span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
     <div class="d-flex justify-content-center">
    {% set sdAndActions = outing.getStatusDisplayAndActions(app.user) %}
         {% if (sdAndActions['deletable']) %}
             <a type="button" class="btn btn-primary" href="{{ path('outing_delete', {'id': outing.id}) }}">
            Supprimer
        </a>
         {% endif %}

         {% if (sdAndActions['modifiable']) %}
             <a type="button" class="btn btn-primary" href="{{ path('outing_modify', {'id': outing.id}) }}">Modifier</a>
         {% endif %}

         {% if (sdAndActions['publishable']) %}
             <a type="button" class="btn btn-primary" href="{{ path('outing_publish', {'id': outing.id}) }}">
            Publier
        </a>
         {% endif %}

         {% if (sdAndActions['unregisterable']) %}
             <a type="button" class="btn btn-primary" href="{{ path('outing_remove', {'id' : outing.id}) }}">
            Se désinscrire</a>
         {% endif %}

         {% if (sdAndActions['registerable']) %}
             <a type="button" class="btn btn-primary" href="{{ path('outing_register', {'id' : outing.id}) }}">S'inscrire</a>
         {% endif %}
     </div>
</div>
    <hr>
    <div class="d-flex justify-content-center">
        <a type="button" href="javascript:history.back()" class="btn btn-primary">
            Retourner à la page précédente
        </a>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        var text = ("#infos").innerText;


        console.log(text);

    </script>{% endblock %}