{% extends 'base.html.twig' %}

{% block title %}{{ outing.name }}{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/details.css') }}">
{% endblock %}
{% block myTitle %}Détails de la sortie{% endblock %}
{% block body %}
    <div class="d-flex flex-wrap">
        <div class="card border-primary mb-3 align-self-start col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6" id="outing">
            <div class="card-header text-center">
                <h2>{{ outing.name }}</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary bg-info rounded font-weight-bold">
                    Informations
                </h3>
                <p class="card-text">

                <table class="table text-center">
                        <tr>
                            <td class="table-info font-weight-bold rounded">Lieux de sortie</td>
                            <td>{{ outing.place.name }} à {{ outing.place.city.name }}</td>
                            <td class="table-info font-weight-bold rounded">Début de la sortie</td>
                            <td>{{ outing.startTime|format_datetime('short', 'short', locale='fr') }}</td>
                        </tr>
                        <tr>
                            <td class="table-info font-weight-bold">Status</td>
                            <td>{{ outing.status.name }}</td>
                            <td class="table-info font-weight-bold">Durée</td>
                            <td>{% if outing.duration < 60 %}
                                    {{ outing.duration }} minutes
                                {% elseif outing.duration < 120 %}
                                    {{ (outing.duration/60)|round(0, 'floor') }} heure et {{ outing.duration%60 }} minutes
                                {% else %}
                                    {{ (outing.duration/60)|round(0, 'floor') }} heures et {{ outing.duration%60 }} minutes {% endif %}</td>
                        </tr>
                        <tr>
                            <td class="table-info font-weight-bold">Organisateur</td>
                            <td><a href="{{ path('profil_byid', {'id':  outing.organizer.id}) }}" >{{ outing.organizer.username }}</a> </td>
                            <td class="table-info font-weight-bold">Date limite d'inscription</td>
                            <td>{{ outing.limitDateTime|format_datetime('short', 'short', locale='fr') }}</td>
                        </tr>
                    <tr>
                            <td class="table-info font-weight-bold">Etablissement de l'organisateur</td>
                            <td>{{ outing.establishment.name }}</td>
                        <td class="table-info font-weight-bold">Nombre max. de participant</td>
                        <td>{{ outing.registerMax }}</td>
                        </tr>



                    <tr>
                        <td class="table-info font-weight-bold rounded" colspan="1">Infos supplémentaire</td>
                        <td id="infos" colspan="3">{{ outing.infoOuting }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card border-primary col-8 col-sm-8 col-md-8 col-lg-3 col-xl-2" id="participant">
            <div class="card-header text-center">
                <h2>Participants</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center pb-2 mx-3 border-bottom border-primary bg-info rounded font-weight-bold">
                    {{ outing.participant|length }}/{{ outing.registerMax }} participants
                </h4>
                <p class="card-text">
                <table class="table text-center">
                    <tr>
                        <td class="table-info font-weight-bold rounded">Début de la sortie</td>
                        <td>{{ outing.startTime|format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                    <tr>
                        <td class="table-info font-weight-bold">Durée</td>
                        <td>{% if outing.duration < 60 %}
                                {{ outing.duration }} minutes
                            {% elseif outing.duration < 120 %}
                                {{ (outing.duration/60)|round(0, 'floor') }} heure et {{ outing.duration%60 }} minutes
                            {% else %}
                                {{ (outing.duration/60)|round(0, 'floor') }} heures et {{ outing.duration%60 }} minutes {% endif %}</td>
                    </tr>
                    <tr>
                        <td class="table-info font-weight-bold">Date limite d'inscription</td>
                        <td>{{ outing.limitDateTime|format_datetime('short', 'short', locale='fr') }}</td>
                    </tr>
                    <tr>
                        <td class="table-info font-weight-bold">Nombre max. de participant</td>
                        <td>{{ outing.registerMax }}</td>
                    </tr>


                    <tr>
                        <td class="table-info font-weight-bold rounded">Infos supplémentaire</td>
                        <td>{{ outing.infoOuting }}</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}<script>
("#infos").innerText;


    console.log(text);

</script>{% endblock %}