{% extends 'base.html.twig' %}

{% block title %}{{ outing.name }}{% endblock %}
{% block stylesheets %}
    {#    <link rel="stylesheet" href="{{ asset('css/createouting.css') }}">#}
{% endblock %}
{% block myTitle %}Détails de la sortie{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="card border-primary mb-3 mx-auto" style="max-width:150rem">
        <div class="card-header text-center">
            <h2>{{ outing.name }}</h2>
        </div>
        <div class="card-body">
            <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary bg-info rounded font-weight-bold">
                {{ outing.name }}
            </h3>
            <p class="card-text">
            <h4 class="text-center bg-secondary rounded">Informations</h4>
            <table class="table text-center">
                <tr>
                    <td class="table-info font-weight-bold rounded">Début de la sortie</td>
                    <td>{{ outing.startTime|date('j F Y \\à H:i', 'Europe/Paris') }}</td>
                </tr>
                <tr>
                    <td class="table-info font-weight-bold">Durée</td>
                    <td>{{ outing.duration }}</td>
                </tr>
                <tr>
                    <td class="table-info font-weight-bold">Date limite d'inscription</td>
                    <td>{{ outing.limitDateTime|date('F jS \\a\\t g:ia', 'Europe/Paris') }}</td>
                </tr>
                <tr>
                    <td class="table-info font-weight-bold">Nombre max. de participant</td>
                    <td>{{ outing.registerMax }}</td>
                </tr>
                <tr>
                    <td class="table-info font-weight-bold rounded">Infos supplémentaire</td>
                    <td>{{ outing.infoOuting }}</td>
                </tr>
            </table>
            </p>
        </div>
    </div>

</div>



{% endblock %}