{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/outinghome.css') }}"> {% endblock %}

{% block body %}
    {{ form(homeOutingFormView) }}

    {# tab for the results#}
    {#TODO remplacer par des div ???? avec largeurs fixes...#}
    <div class="result-tab">
        <div class="result-head">
            <div class="result-head-row">
                <span class="result-head-cell result-col-1">Nom de la sortie</span>{#
            #}<span class="result-head-cell result-col-2">Date de la sortie</span>{#
            #}<span class="result-head-cell result-col-3">Clôture</span>{#
            #}<span class="result-head-cell result-col-4">inscrits /places</span>{#
            #}<span class="result-head-cell result-col-5">État</span>{#
            #}<span class="result-head-cell result-col-6">Inscrit</span>{#
            #}<span class="result-head-cell result-col-7">Organisateur</span>{#
            #}<span class="result-head-cell result-col-8">Actions</span>
            </div>
        </div>
        <div class="result-body">
            {% for outing in outings %}
                <div class="result-body-row">
                    <span class="result-body-cell result-col-1 overflow-hidden">{{ outing.name }}</span>{#
                    #}<span class="result-body-cell result-col-2 overflow-hidden">{{ outing.startTime|date('d/m/Y H:i') }}</span>{#
                    #}<span class="result-body-cell result-col-3 overflow-hidden">{{ outing.limitDateTime|date('d/m/Y H:i') }}</span>{#
                    #}<span class="result-body-cell result-col-4 overflow-hidden">{{ outing.participant|length }}/{{ outing.registerMax }}</span>{#
                    #}<span class="result-body-cell result-col-5 overflow-hidden">{{ outing.status.name }}</span>{#
                    #}<span class="result-body-cell result-col-6 overflow-hidden">{{ (app.user in outing.participant) ? 'X' : '' }}</span>{#
                    #}<span class="result-body-cell result-col-7 overflow-hidden">{{ outing.organizer.username }}</span>{#
                    #}<span class="result-body-cell result-col-8 overflow-hidden"><b><i>To be implemented</i></b></span>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block title %}
    Accueil
{% endblock %}

