{% form_theme homeOutingFormView 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/outinghome.css') }}"> {% endblock %}

{% block myTitle %}Liste des sorties{% endblock %}
{% block body %}
    {#    {{ form(homeOutingFormView) }}#}

    <div class="container">
        {{ form_start(homeOutingFormView) }}
        <div class="row">

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_label(homeOutingFormView.establishment) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(homeOutingFormView.establishment) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_errors(homeOutingFormView.establishment) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_label(homeOutingFormView.nameContent) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(homeOutingFormView.nameContent) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_errors(homeOutingFormView.nameContent) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_label(homeOutingFormView.dateMin) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(homeOutingFormView.dateMin) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_errors(homeOutingFormView.dateMin) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_label(homeOutingFormView.dateMax) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(homeOutingFormView.dateMax) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_errors(homeOutingFormView.dateMax) }}
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                {{ form_widget(homeOutingFormView.iAmOrganizer) }}
                {{ form_label(homeOutingFormView.iAmOrganizer) }}
                {{ form_errors(homeOutingFormView.iAmOrganizer) }}<br>

                {{ form_widget(homeOutingFormView.iAmRegistred) }}
                {{ form_label(homeOutingFormView.iAmRegistred) }}
                {{ form_errors(homeOutingFormView.iAmRegistred) }}<br>

                {{ form_widget(homeOutingFormView.iAmNotRegistred) }}
                {{ form_label(homeOutingFormView.iAmNotRegistred) }}
                {{ form_errors(homeOutingFormView.iAmNotRegistred) }}<br>

                {{ form_widget(homeOutingFormView.passedOuting) }}
                {{ form_label(homeOutingFormView.passedOuting) }}
                {{ form_errors(homeOutingFormView.passedOuting) }}<br>
            </div>

            <div class="col-lg-4">
                <div class="row align-items-center">
                    {{ form_widget(homeOutingFormView.submit) }}<br>
                </div>
            </div>

        </div>
        {{ form_end(homeOutingFormView) }}
    </div>

    {# tab for the results#}
    <div class="result-tab">
        <div class="result-head">
            <div class="result-head-row">
                <span class="result-head-cell result-col-1">Nom de la sortie</span>{#
            #}<span class="result-head-cell result-col-2">Date de la sortie</span>{#
            #}<span class="result-head-cell result-col-3">Clôture</span>{#
            #}<span class="result-head-cell result-col-4">inscrits /places</span>{#
            #}<span class="result-head-cell result-col-5">État</span>{#
            #}<span class="result-head-cell result-col-6">Inscrit</span>{#
            #}<span class="result-head-cell result-col-7">Organisateur</span>{#
            #}<span class="result-head-cell result-col-8">Actions</span>
            </div>
        </div>
        <div class="result-body">
            {% for outing in outings %}
                {% set sdAndActions = outing.getStatusDisplayAndActions(app.user) %}
                <div class="result-body-row">
                    <span class="result-body-cell result-col-1 overflow-hidden">{{ outing.name }}</span>{#
                    #}<span class="result-body-cell result-col-2 overflow-hidden">{{ outing.startTime|date('d/m/Y H:i') }}</span>{#
                    #}<span class="result-body-cell result-col-3 overflow-hidden">{{ outing.limitDateTime|date('d/m/Y H:i') }}</span>{#
                    #}<span class="result-body-cell result-col-4 overflow-hidden">{{ outing.participant|length }}/{{ outing.registerMax }}</span>{#
                    #}<span class="result-body-cell result-col-5 overflow-hidden">{{ sdAndActions['display'] }}</span>{#
                    #}<span class="result-body-cell result-col-6 overflow-hidden">{{ (app.user in outing.participant) ? 'X' : '' }}</span>{#
                    #}<span class="result-body-cell result-col-7 overflow-hidden">{{ outing.organizer.username }}</span>{#
                    #}<span class="result-body-cell result-col-8 overflow-hidden">
                        {% if (sdAndActions['showable']) %}
                            Afficher
                        {% endif %}

                        {% if (sdAndActions['deletable']) %}
                            Supprimer
                        {% endif %}

                        {% if (sdAndActions['modifiable']) %}
                            Modifier
                        {% endif %}

                        {% if (sdAndActions['publishable']) %}
                            Publier
                        {% endif %}

                        {% if (sdAndActions['unregisterable']) %}
                            Se désinscrire
                        {% endif %}

                        {% if (sdAndActions['registerable']) %}
                            S'inscrire
                        {% endif %}

                        {% if (sdAndActions['cancelable']) %}
                            <a data-toggle="modal"
                               data-target="#exampleModal"
                               href="">Annuler</a>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Annuler la sortie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sûr de vouloir annuler cette sortie?
                                        </div>
                                         <form action="{{ path('outing_delete', {'id': outing.id}) }}" method="post">
                                             <div class="form-group">
                                                 <label for="message-text" class="col-form-label">Motif de l'annulation:</label>
                                                 <textarea name="motif" class="form-control" id="message-text" required></textarea>
                                             </div>
                                             <input type="submit" class="btn btn-danger" value="Annuler la sortie">
                                        </form>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <div>
                                                <button type="button"
                                                        class="btn btn-warning"
                                                        data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </span>
                </div>

            {% endfor %}
        </div>
    </div>




{% endblock %}

{% block title %}
    Accueil
{% endblock %}
{% block scriptJS %}{% endblock %}

