{#{% form_theme csvFormView 'bootstrap_4_layout.html.twig' %}#}

{% extends 'base.html.twig' %}

{% block title %}Ajouter des utilisateurs{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block myTitle %}Ajouter des utilisateurs avec un fichier CSV{% endblock %}


{% block body %}
    {{ form_start(csvFormView) }}

    <div class="row justify-content-center">
        <div class="col-auto">
            {{ form_label(csvFormView.csv_file) }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            {{ form_widget(csvFormView.csv_file) }}
            {{ form_errors(csvFormView.csv_file) }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            {{ form_widget(csvFormView.submit) }}
        </div>
    </div>

    {{ form_end(csvFormView) }}

    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            Le fichier csv doit être sous le format suivant :
            <div class="border border-dark rounded">
                establishment,username,name,firstname,phone,mail,password,administrator,active <br>
                Campus de Niort,Boby,Kennedy,Robert,0102030405,boby@mail.fr,Boby,0,1<br>
                Campus de Faraday,Jeannette,Calment,Jeanne,0199999999,jeanette@mail.com,Jeannette,0,1
            </div>
        </div>
    </div>

{% endblock %}


{% block scriptJS %}

{% endblock %}