{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Création compte{% endblock %}

{% block body %}
    <h1> Création compte utilisateur </h1>

    {{ form_start(registrationForm) }}
    <span class="card-body d-flex flex-wrap">

                            <div class="widget">
                                 <div>
                                     {{ form_label(registrationForm.username) }}
                                     {{ form_widget(registrationForm.username) }}
                                     {{ form_errors(registrationForm.username) }}
                                 </div>
                                 <div class="widget">
                                    {{ form_label(registrationForm.name) }}
                                     {{ form_widget(registrationForm.name) }}
                                     {{ form_errors(registrationForm.name) }}
                                 </div>
                                    <div class="widget">
                                        {{ form_label(registrationForm.firstname) }}
                                        {{ form_widget(registrationForm.firstname) }}
                                        {{ form_errors(registrationForm.firstname) }}
                                    </div>
                            </div>
                             <div class="widget">
                                 <div class="widget">
                                         {{ form_label(registrationForm.phone) }}
                                     {{ form_widget(registrationForm.phone) }}
                                     {{ form_errors(registrationForm.phone) }}
                                 </div>
                                    <div class="widget">
                                         {{ form_label(registrationForm.mail) }}
                                        {{ form_widget(registrationForm.mail) }}
                                        {{ form_errors(registrationForm.mail) }}
                                 </div>
                                    <div class="widget">
                                         {{ form_label(registrationForm.establishment) }}
                                        {{ form_widget(registrationForm.establishment) }}
                                        {{ form_errors(registrationForm.establishment) }}
                                     </div>
                                    <div class="widget">
                                         {{ form_label(registrationForm.password) }}
                                        {{ form_widget(registrationForm.password) }}
                                        {{ form_errors(registrationForm.password) }}
                                     </div>

                             </div>

                    </span>

        <button class="btn">Créer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
