{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block myTitle %}Groupes privés{% endblock %}

{% block body %}

    <a type="button" class="btn btn-primary" href="{{ path('group_create') }}">Créer un nouveau groupe privé</a>

    {% if groupsCreated is not empty %}
        <h2>
            Groupes dont vous êtes le créateur :
        </h2>
        <ul>
            {% for group in groupsCreated %}
                <li>
                    <a href="{{ path('group_detail', {'id':  group.id}) }}">
                        {{ group.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if groupsParticipant is not empty %}
        <h2>
            Autres groupes dont vous faites partie :
        </h2>
        <ul>
            {% for group in groupsParticipant %}
                <li>
                    <a href="{{ path('group_detail', {'id':  group.id}) }}">
                        {{ group.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}




{% endblock %}

{% block title %}
    Groupes privés
{% endblock %}

{% block scriptJS %}{% endblock %}


