<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 7px;">
    <a class="navbar-brand" href="{{ path('outing_home') }}"><img src="{{ asset('images/favicon.svg.png') }}" class="logo_website"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{ path("outing_home") }}"><span class="menu-icon"><i
                                class="fa fa-home"></i></span>&nbsp;Accueil</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <div>
                        <a class="nav-link d-flex align-items-center" href="{{ path("outing_create") }}"><span
                                    class="menu-icon"><i class="fas fa-plus-circle"></i></span>&nbsp;Créer
                            une sortie </a>
                    </div>
                </li>

                <li class="nav-item">
                    <div>
                        <a class="nav-link d-flex align-items-center" href="{{ path("group_home") }}"><span
                                    class="menu-icon"><i class="fas fa-users"></i></span>&nbsp;Groupes privés </a>
                    </div>
                </li>

            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{{ path("admin_csvadd") }}">
                        <span class="menu-icon"><i class="fas fa-file-csv"></i></span>&nbsp;importer utilisatateurs en CSV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{{ path("admin_app_register") }}">
                        <span class="menu-icon"><i class="fas fa-user-plus"></i></span>&nbsp;Création compte utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{{ path("admin_users_list") }}">
                        <span class="menu-icon"><i class="fas fa-address-book"></i></span>&nbsp;Liste des utilisateurs</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item d-none d-sm-block d-md-block d-lg-none d-xl-none">
                    <a class="nav-link d-flex align-items-center" href="{{ path("profil_myprofil") }}"><span class="menu-icon"><i class="fas fa-user"></i></span>&nbsp;Mon Profil </a>
                </li>
                <li class="nav-item d-none d-sm-block d-md-block d-lg-none d-xl-none">
                    <a class="nav-link d-flex align-items-center" href="{{ path("logout") }}"><span class="menu-icon"><i class="fas fa-sign-out-alt"></i></span>&nbsp;Se déconnecter </a>
                </li>
            {% endif %}

        </ul>
        {% if is_granted('ROLE_USER') %}
            <div class="nav-item dropdown d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <a style="color: #3E3F3A" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% if app.user.picture is not null %}
                        <img id="avatar" src="{{ asset('images/profil/' ~ app.user.picture) }}" class="">
                    {% else %}
                        <img id="avatar"
                             src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    {% endif %}
                    <b>{{ app.user.username }}</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item d-flex align-items-center" href="{{ path("profil_myprofil") }}"><span style="" class="menu-icon-small"><i class="fas fa-user"></i></span></i>&nbsp;Mon profil </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center" href="{{ path("logout") }}"><span class="menu-icon-small"><i class="fas fa-sign-out-alt"></i></span>&nbsp;Se déconnecter </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="date col d-none d-sm-none d-md-none d-lg-block d-xl-block">{{ "now"|date("d/m/Y") }}</div>
            <div id="MyClockDisplay" class="clock col d-none d-sm-none d-md-none d-lg-block d-xl-block"
                 onload="showTime()"></div>
        </div>
    </div>

</nav>