<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('outing_home') }}"><img src="{{ asset('images/favicon.svg.png') }}" class=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("outing_home") }}">Accueil </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("outing_create") }}">Créer une sortie </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("profil_csvadd") }}">importer utilisatateurs en CSV</a>
                </li>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("login") }}">Connexion </a>
                </li>
            {% else %}
                <li class="nav-item d-none d-sm-block d-md-block d-lg-none d-xl-none">
                    <a class="nav-link" href="{{ path("profil_myprofil") }}">Mon Profil </a>
                </li>
                <li class="nav-item d-none d-sm-block d-md-block d-lg-none d-xl-none">
                    <a class="nav-link" href="{{ path("logout") }}">Se déconnecter </a>
                </li>
            {% endif %}

        </ul>
        {% if is_granted('ROLE_USER') %}
            <div class="nav-item dropdown d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <a style="color: #3E3F3A" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img id="avatar"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("profil_myprofil") }}">Mon profil </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("logout") }}">Se déconnecter </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="date col d-none d-sm-none d-md-none d-lg-block d-xl-block">{{ "now"|date("d/m/Y") }}</div>
            <div id="MyClockDisplay" class="clock col d-none d-sm-none d-md-none d-lg-block d-xl-block"
                 onload="showTime()"></div>
        </div>
    </div>

</nav>